
<form action="/auth/google" method="get">
    <button type="submit" class="button">GoogleAuth</button>
</form>

<style>
    .button{
        background-color:dodgerblue;
        color : white;
        font-size : 16px;

    }
</style>
